/* S'assurer que l'image de fond prend toute la taille de l'écran */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Définition des propriétés globales du body */
body {
    margin: 0;
    padding: 0;
    background-image: url('/images/stars_sky2.jpg'); /* Image de fond par défaut */
    background-size: cover;
    background-position: center;
    font-family: Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* Conteneur principal */
.container {
    padding: 20px;
    border-radius: 8px;
}

/* Liste des compositions */
.compositions-list {
    position: absolute;
    right: 20px;
    top: 20px;
}

.compositions-list ul {
    list-style-type: none;
    padding: 0;
}

.compositions-list li {
    margin: 10px 0;
}

/* Bouton de lecture */
.play-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.play-btn:hover {
    background-color: #45a049;
}

/* Boutons supplémentaires */
.buttons {
    margin-top: auto;
}

.buttons a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    flex: 1;
    border: 0.5px solid white;
    margin: 0 10px;
    transition: background 0.3s;
}

.buttons a:hover {
    background: white;
    color: black;
}
